<div>
  <div class="home-container">
    <div class="home-header">
      <header data-thq="thq-navbar" class="navbarContainer home-navbar-interactive"><span class="logo">DUNGEON</span>
        <div data-thq="thq-navbar-nav" class="home-desktop-menu">
          <nav class="home-links"><span class="bodySmall">Profile</span>
            <span class="home-nav22 bodySmall">Sheets</span>
            <span class="home-nav32 bodySmall">Characters</span>
          </nav>
          <div class="home-buttons">
            <button class="home-login buttonFilled1">Login</button>
            <button class="buttonFilled">Register</button>
          </div>
        </div>
      </header>
    </div>
    <div class="home-hero">
      <div class="home-hero1 heroContainer">
        <div class="home-container1">
          <h1 class="home-hero-heading heading1">Embark on an Epic Adventure</h1>
          <div class="home-btn-group">
            <button class="buttonFilled">Play Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

