<title>D&D Player Vs Player</title>
<div class="place-content-center flex flex-col items-center p-32">
  <h3 class="text-white bold m-3">D&D Player VS Player Game</h3>
  <h1 class="border-2 border-rose-500 text-rose-500 w-fit p-6">Play</h1>
</div>
