.home-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: var(--dl-color-custom-neutral-dark);
}
.home-header {
    width: 100%;
    display: flex;
    z-index: 100;
    position: fixed;
    align-items: center;
    flex-direction: column;
    background-color: var(--dl-color-gray-white);
}
.home-desktop-menu {
    flex: 1;
    display: flex;
    justify-content: space-between;
}
.home-links {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.home-nav22 {
    margin-left: var(--dl-space-space-unit);
}
.home-nav32 {
    margin-left: var(--dl-space-space-unit);
}
.home-buttons {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.home-login {
    margin-right: 32px;
}
.home-mobile-menu1 {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: none;
    padding: 32px;
    z-index: 100;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
}
.home-nav {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.home-top {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-threeunits);
    justify-content: space-between;
}
.home-close-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-links1 {
    flex: 0 0 auto;
    display: flex;
    align-self: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.home-nav121 {
    margin-bottom: var(--dl-space-space-unit);
}
.home-nav221 {
    margin-bottom: var(--dl-space-space-unit);
}
.home-nav321 {
    margin-bottom: var(--dl-space-space-unit);
}
.home-buttons1 {
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.home-hero {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 96px;
    align-items: flex-start;
    justify-content: center;
}
.home-hero1 {
    width: 1182px;
    height: 511px;
}
.home-container1 {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}
.home-hero-heading {
    max-width: 800px;
    text-align: center;
}
.home-btn-group {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    align-items: center;
    flex-direction: row;
}
@media(max-width: 991px) {
    .home-hero1 {
        flex-direction: column;
    }
    .home-container1 {
        align-items: center;
        margin-right: 0px;
        margin-bottom: var(--dl-space-space-twounits);
        padding-right: 0px;
    }
    .home-hero-heading {
        text-align: center;
    }
}
@media(max-width: 767px) {
    .home-navbar-interactive {
        padding-left: var(--dl-space-space-twounits);
        padding-right: var(--dl-space-space-twounits);
    }
    .home-desktop-menu {
        display: none;
    }
    .home-nav121 {
        margin-bottom: var(--dl-space-space-unit);
    }
    .home-nav221 {
        margin-bottom: var(--dl-space-space-unit);
    }
    .home-nav321 {
        margin-bottom: var(--dl-space-space-unit);
    }
    .home-hero1 {
        padding-left: var(--dl-space-space-twounits);
        padding-right: var(--dl-space-space-twounits);
    }
}
@media(max-width: 479px) {
    .home-navbar-interactive {
        padding: var(--dl-space-space-unit);
    }
    .home-mobile-menu1 {
        padding: 16px;
    }
    .home-hero1 {
        padding-top: var(--dl-space-space-twounits);
        padding-left: var(--dl-space-space-unit);
        padding-right: var(--dl-space-space-unit);
        padding-bottom: var(--dl-space-space-twounits);
    }
    .home-container1 {
        margin-bottom: var(--dl-space-space-unit);
    }
    .home-btn-group {
        flex-direction: column;
    }
}

:root {
    --dl-color-gray-500: #595959;
    --dl-color-gray-700: #999999;
    --dl-color-gray-900: #D9D9D9;
    --dl-size-size-large: 144px;
    --dl-size-size-small: 48px;
    --dl-color-danger-300: #A22020;
    --dl-color-danger-500: #BF2626;
    --dl-color-danger-700: #E14747;
    --dl-color-gray-black: #000000;
    --dl-color-gray-white: #FFFFFF;
    --dl-size-size-medium: 96px;
    --dl-size-size-xlarge: 192px;
    --dl-size-size-xsmall: 16px;
    --dl-space-space-unit: 16px;
    --dl-color-primary-100: #003EB3;
    --dl-color-primary-300: #0074F0;
    --dl-color-primary-500: #14A9FF;
    --dl-color-primary-700: #85DCFF;
    --dl-color-success-300: #199033;
    --dl-color-success-500: #32A94C;
    --dl-color-success-700: #4CC366;
    --dl-size-size-xxlarge: 288px;
    --dl-size-size-maxwidth: 1400px;
    --dl-radius-radius-round: 50%;
    --dl-color-custom-accent1: #6AB14E;
    --dl-color-custom-accent2: #598CF2;
    --dl-space-space-halfunit: 8px;
    --dl-space-space-sixunits: 96px;
    --dl-space-space-twounits: 32px;
    --dl-color-custom-primary1: #D1510A;
    --dl-color-custom-primary2: #923A06;
    --dl-radius-radius-radius2: 2px;
    --dl-radius-radius-radius4: 4px;
    --dl-radius-radius-radius8: 8px;
    --dl-space-space-fiveunits: 80px;
    --dl-space-space-fourunits: 64px;
    --dl-space-space-threeunits: 48px;
    --dl-color-custom-secondary1: #1C1613;
    --dl-color-custom-neutral-dark: #150A02;
    --dl-color-custom-neutral-light: #FBFAF9;
    --dl-space-space-oneandhalfunits: 24px;
}
.buttonFilled {
    color: var(--dl-color-custom-neutral-light);
    transition: 0.3s;
    font-family: Noto Sans;
    font-weight: bold;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-oneandhalfunits);
    border-radius: 24px;
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-halfunit);
    background-color: var(--dl-color-custom-primary1);
}
.buttonFilled1{
    color: var(--dl-color-custom-neutral-light);
    transition: 0.3s;
    font-family: Noto Sans;
    font-weight: bold;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-oneandhalfunits);
    border-radius: 24px;
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-halfunit);
    background-color: var(--dl-color-custom-primary1);
    background-color: #4CC366;
}

.buttonFilled:hover {
    background-color: var(--dl-color-custom-primary2);
}
.buttonFilled1:hover {
    background-color: #317a3f;
}

.buttonFlat {
    color: var(--dl-color-custom-neutral-light);
    font-family: Noto Sans;
    font-weight: bold;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-halfunit);
}
.buttonFlat:hover {
    color: var(--dl-color-custom-primary1);
}
.navbarContainer {
    color: var(--dl-color-custom-neutral-light);
    width: 100%;
    display: flex;
    position: sticky;
    align-items: center;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    justify-content: space-between;
    background-color: var(--dl-color-custom-neutral-dark);
}
.mobileMenu {
    color: var(--dl-color-custom-neutral-light);
    background-color: var(--dl-color-custom-neutral-dark);
}
.heroContainer {
    color: var(--dl-color-custom-neutral-light);
    width: 100%;
    display: flex;
    min-height: auto;
    align-items: center;
    padding-top: var(--dl-space-space-sixunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-sixunits);
    justify-content: center;
    background-color: var(--dl-color-custom-neutral-dark);
}
.heading1 {
    font-size: 48px;
    text-align: center;
    font-family: STIX Two Text;
    font-weight: 700;
    line-height: 150%;
}
.logo {
    font-size: 2em;
    font-family: STIX Two Text;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
}
.bodySmall {
    font-size: 16px;
    font-family: Noto Sans;
    font-weight: 400;
    line-height: 150%;
}